@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>The principal name @ViewBag.PrincipalName</div>
    <div>The principal ID @ViewBag.PrincipalID</div>
</div>
