@model Sqlapp.Models.Course

@{
    ViewData["Title"] = "Edit Page";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1>Edit Page</h1>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">                
                <input type="hidden" asp-for="CourseID" class="form-control" />

                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}