<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/20c6eec9-2d80-4700-b0f6-4fde579a8783/resourceGroups/new-grp/providers/Microsoft.ContainerRegistry/registries/appregistry100012</ResourceId>
    <ResourceName>appregistry100012</ResourceName>
    <ResourceGroup>new-grp</ResourceGroup>
    <Subscription>Test Environment</Subscription>
    <RegistryUrl>https://appregistry100012.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>